<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="mStorageConnectionString" value="insertCONNECTIONstringHere"/>

    <add key="mCacheUrl" value="RedisName.redis.cache.windows.net" />
    <add key="mCachePassword" value="insertKEYhere" />

    <add key="mCacheUrl2" value="Redis2Name.redis.cache.windows.net" />
    <add key="mCachePassword2" value="insertKEYhere" />
  
  </appSettings>
</configuration>
